NEXT_PUBLIC_API_URL=https://abp.antosubash.com
NEXT_PUBLIC_CLIENT_ID=AbpReact_Next_App
NEXT_PUBLIC_SCOPE='openid profile email AbpTemplate offline_access'
NEXT_PUBLIC_APP_URL=http://localhost:3000
REDIS_HOST="localhost"
REDIS_PASSWORD=""
REDIS_PORT="6379"
SESSION_SECRET=
NEXT_PUBLIC_GOOGLE_ANALYTICS_TRACKING_ID=
NEXT_PUBLIC_UMAMI_SCRIPT_URL=
NEXT_PUBLIC_UMAMI_WEBSITE_ID=

# Use OIDC for authentication
NEXT_PUBLIC_OIDC_AUTHORITY=https://abp.antosubash.com
NEXT_PUBLIC_OIDC_CLIENT_ID=AbpReact_Next_App
NEXT_PUBLIC_OIDC_SCOPE="openid profile email offline_access AbpTemplate"

# Admin API URL
NEXT_PUBLIC_API_BASE_URL=https://abp.antosubash.com
# Busines API URL
NEXT_PUBLIC_API_APPS_URL=https://abp.antosubash.com